.calculator-display > h1{
    font-size: 4rem;
    background-color: none;
    color: white;
    margin: 0px;
    text-align: right;
    padding: 30px 5%;
}

.calculator-display{
    background-color: black;
    width: 522px;
}